<!DOCTYPE html>
<html class="default history">
  <head>
    <title>Leengo</title>

    <!-- Auth0Lock script -->
    <script src="//cdn.auth0.com/js/lock-9.1.min.js"></script>
    <% if(typeof window !== undefined ) { %>

    <% } %>
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/main-blessed1.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/main-blessed2.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/main-blessed3.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/landing.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/results.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/slides.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/textarea.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css" />
  </head>
  <body>
    <div id="root"><%= body %></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
