.combinedAvg {
  font-size: 1.1em;
}
.avgResult {
  font-weight: bolder;
  color: #6dad8b;
}
.detailsAvgContainer {
  font-weight: lighter;
}
.text-lighter {
  font-weight: lighter;
}
.text-lightest {
  font-weight: 100;
}
.text-blue {color: #73a0c8;}
.text-green {
  color: #49a11f;
}
.text-orange {
  color: #d88647;
}
.text-purple {
  color: #9862c6;
}
.text-brown {color: #905d18;}
.detailsAvg {
  float: left;
}
.past-combined {
  display: inline;
  width: 85px;
}
.past-combined-text {
  color: #8bb0c7;
  font-style: italic;
}
.past-combined-text b {
  color: #236188;
}
.avg-per-day {
  padding-top: 20px;
  text-align: right;
  color: #cccdd4;
}
