.results-overview {
  font-size: 24px;
  font-weight: lighter;
  color: #89949B;
}
.result-incorrect {
  color: #e85f5f;
  font-weight: normal;
  text-decoration: line-through;
}
.result-correction {
  color: #8cc8dc;
  font-style: italic;
  font-weight: lighter;
}
.result-correct {
  color: #61af61;
  font-weight: normal;
}
.results-count {
  color: #80add6;
}
.review-answers {
  color: #80add6;
}
.percent-20 {
  color: #e85f5f;
}
.percent-40 {
  color: #ff8031;
}
.percent-60 {
  color: #8cc8dc;
}
.percent-80 {
  color: #61af61;
}
.percent-100 {
  color: #61af61;
}
