.text-sentence-container {
  font-size: 24px;
  font-weight: lighter;
}
.no-outline {
  outline: none;
}
.sentence-count {
  font-weight: bold;
  font-size: 16px;
  margin-top: -10px;
}
.test-input-inline {
  width: 100px;
  border: none;
  border-bottom: 1px dashed #afafaf;
  text-align: center;
  outline: none;
  color: #489fdc;
  line-height: 1;
  padding: 8px 8px 0px 8px;
  font-style: italic;
}
.test-input-inline-with-answer {
  border-bottom: none;
}
.show-hint {
  cursor: pointer;
}
